#banner {
    text-align: center;
    background-color: rgb(62, 60, 63);
    color: white;
    margin: 20px auto;
    padding: 15px;
}

#search-area {
    width:300px;
    padding-left: 20px;
    margin-right: 5%;
}

button {
    display: block;
    width: 100%;
    margin: 10px auto;
}

input {
    width: 100%;
    /* TODO - increase height */
}

#search-current{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#current-weather{
    width: 100%;
    background-image: linear-gradient(to bottom, green, lightblue);
    height: 350px;
    margin-bottom: 2.5%;
    border-radius: 1em;
    font-size: 20px;
    margin-left: 20px;
    border-style: outset;
    border-width: 3px;
}

#cityname, #img_home, #date{
    display: inline;
}

#future-weather{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

#uvi, #uvi-display-number{
    display: inline;
}

#uvi-display-number{
    padding: 3px 5px;
    border-radius: 0.5em;
}

#all-weather-cards{
    display:inline;
    width: 70%;
    margin-right:20px;
}

#future-weather .card-body{
    background-image: linear-gradient(to bottom, purple,red);
    border-radius: 1em;
    color: white;
    border-style: outset;
}

button{
    font-weight:bold;
    border-radius: 0.5em;
    color:white;
    background-color:rgb(92, 114, 138);
}

input{
    border-radius: 0.5em;
}

div .card {
    border-radius: 1em;
    flex-wrap: wrap;
}

#forecast-label{
    margin-left: 20px;
}

@media screen and (max-width: 1290px){
    #search-area{
        width: 400px;
    }
}

@media screen and (max-width: 540px){
    #current-weather{
        height: 450px;
    }
}